<%- include("./partials/header.ejs") %>

<body id="body4" link>

    
    <div class="form-containers" style="">
        <form action="your_server_endpoint_here" method="POST">
    
            <label for="first-name">First Name:</label>
            <input type="text" name="first-name" id="first-name" required><br>
    
            <label for="last-name">Last Name:</label>
            <input type="text" name="last-name" id="last-name" required><br>
    
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required><br>
    
            <label for="message">Message:</label><br>
            <textarea name="message" id="message" rows="4" required></textarea><br>
    
            <input type="submit" value="Submit">
        </form>
    </div>
    

</body>



<footer id="f1">
    <div class="one">
      <ul class="social_icon">
        <h3 style="color: brown; font-family: 'Black Ops One', cursive;
        font-family: 'Bricolage Grotesque', sans-serif;
        font-family: 'Roboto Slab', serif;
        font-family: 'Rubik Iso', cursive;">follow us on </h3>
        <li><a href="https://shaikfiroz-developer20.github.io/myresume.github.io/"><img  height="40px" width="40px" src="./images/github.png" alt=""></a></li>
        <li><a href="https://linkedin.com/in/firoz-shaik-711384250"><img height="40px" width="40px" src="./images/Linkden.png" alt=""></a></li>
        </ul>
  
    </div>
   
    <div class="three">
      <p>Name: SHAIK FIROZ</p>
      <p>Contact Me: <a href=" https://wa.me/917893038313?text=Hi%20firoz%20i'am%20intrested%20in%20your%20work">+918333886963</a></p>
      <p>
        Email: <a href="mailto:">firoz.21bce9396@gmail.com</a>
      </p>
      </div>
  
    <div class="two ">
      <ul class="menus" >
        <li ><a href="#">Home</a></li>
        <li><a href="#">topcryptos</a></li>
        <li><a href="#">market stats</a></li>
        <li><a href="#">contact</a></li>
        </ul>
    </div>
    
    
    
    </footer>
     
    </html>